body {
  font-family: Futura, Arial, sans-serif;
  margin: 0px auto;
  font-size: 14;
  color: #666666;
}

.example-grow .parent {
  display: flex;
}

.example-grow .item {
  width: 50px;
  height: 100px;
}

.example-grow .item:nth-child(2) {
  flex-grow: 2;
  background: lightgreen;
}