body,html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Martel Sans", Arial, sans-serif;
  margin: 0px auto;
  font-size: 14;
  /*color: #666666;*/
  background-color: #efe6e1;
}



header {
  /*width: 500px;
  display: inline;*/
}

h1 {
  font-size: 2.1em;
  line-height: 2;
  font-weight: bold;
  font-family: 'Abril Fatface', Century, serif;
  text-align:center;
  text-orientation: initial;
  writing-mode: horizontal-rl;
  
}

#playbtn {
  visibility: hidden;
}

/*i.fas.fa-volume-up {
  text-decoration: none;
  color: fuchsia;
}*/

.projects {

}

textarea {
  /*width:200px;
  height:200px;
  margin: -1000px; */
  display: none;
}

.main {
  /*background-color: pink;*/
  width: 100%;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex-shrink: 0;
  margin: 20px;
  height: 200px;
  width: calc( 100% - 40px);
  background: url(http://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg) center;
  background-size: cover;
  position: relative;

}

.gallery-curtain {
  background-color: rgba(255,255,255, 0.5);
  padding: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.dropdownitem {
  display:none;
}

.arrow {
    width: 17px;
    height: 11px;
    float: right;
    margin-top: 5px;
}

@media (min-width: 620px) {
  h1 {
    padding: 10px;
    text-orientation: upright;
    writing-mode: vertical-lr;
  }

  .container {
    display: flex;
    scroll-direction: horizontal;
  }

  .sidebar {
    width: 300px;
  }


  .gallery-item {
    width: calc(50% - 40px);
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-curtain {
    height: 200px;
    text-align: center;
    padding-top: 30%;
    bottom: -200px;
    transition: all 0.5s ease-in-out;

  }
  .gallery-item:hover .gallery-curtain {
    bottom: 0;
  }

}


@media (min-width: 800px) {

  .gallery-item {
    width: calc(33.3% - 40px);
    height: 200px;
  }
  #playbtn {
    visibility: visible;
    cursor: pointer;
    border: none;
    color: crimson;
    background-color: transparent;
    /* margin: 3px; */
    font-size: 1em;

  }  

}