body,html {
  height: 100%;
}

body {
  font-family: "Martel Sans", Arial, sans-serif;
  margin: 0px auto;
  font-size: 14;
  /*color: #666666;*/
}

.sidebar h2 {
  /*background-color: teal;*/
  font-family: "arial", serif;
  font-size: 1.5em;
  color: black;
}

header h1 {
  font-size: 2em;
  line-height: 1;
  font-family: "Playfair Display", serif;
  text-align:center;
}


.main {
  /*background-color: pink;*/
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex-shrink: 0;
  margin: 20px;
  height: 200px;
  width: calc( 100% - 40px);
  background: url(http://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg) center;
  background-size: cover;
  position: relative;

}

.gallery-curtain {
  background-color: rgba(255,255,255, 0.5);
  padding: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.dropdownitem {
  display:none;
}

.arrow {
    width: 17px;
    height: 11px;
    float: right;
    margin-top: 5px;
}

@media (min-width: 620px) {

  .container {
    display: flex;
  }

  .sidebar {
    width: 300px;
  }

  .gallery-item {
    width: calc(50% - 40px);
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-curtain {
    height: 200px;
    text-align: center;
    padding-top: 30%;
    bottom: -200px;
    transition: all 0.5s ease-in-out;

  }
  .gallery-item:hover .gallery-curtain {
    bottom: 0;
  }

}


@media (min-width: 800px) {

  .gallery-item {
    width: calc(33.3% - 40px);
    height: 200px;
  }

}